* {
    margin: 0;
    padding: 0;
}

.header {
    width: 1423px;
    height: 60px;
    background-color: aqua;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header>ul>li {
    float: left;
    font-size: 13px;
    width: 60px;
    padding-left: 20px;
    line-height: 60px;
}